<mat-sidenav-container class="container">
   <mat-sidenav mode="side" opened>
      <mat-nav-list>
         <a routerLink="" mat-list-item>
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Inicio
         </a>
         <a routerLink="/ventas" mat-list-item>
            <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_bag</mat-icon>
            Ventas
         </a>

         <a routerLink="/categorias" mat-list-item>
            <mat-icon aria-hidden="false" aria-label="Example home icon">inventory</mat-icon>
            Categorias
         </a>
         <a routerLink="/productos" mat-list-item>
            <mat-icon aria-hidden="false" aria-label="Example home icon">list_alt</mat-icon>
            Productos
         </a>
         <a routerLink="/proveedor" mat-list-item>
            <mat-icon aria-hidden="false" >how_to_reg</mat-icon>
            Proveedor
         </a>
      </mat-nav-list>
   </mat-sidenav>
   <mat-sidenav-content>
      <router-outlet></router-outlet>
      
   </mat-sidenav-content>
</mat-sidenav-container>