<div class="content">
  
    <div class="title">
      <h1>PRODUCTOS</h1>
    </div>
  
    <button class="mat-elevation-z8" (click)="navegarParaProductoCreate()" mat-stroked-button color="primary"> Registrar Producto </button>
  
    <mat-form-field>
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar por" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8 content-table">
      <table class="table" mat-table [dataSource]="productos">
  
        <ng-container matColumnDef="prodid">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.prodid }}</td>
        </ng-container>
  
        <ng-container matColumnDef="catid">
          <th mat-header-cell *matHeaderCellDef>ID CATEGORIA</th>
          <td mat-cell *matCellDef="let row">{{ row.catid }}</td>
        </ng-container>
  
        <ng-container matColumnDef="proddescrip">
          <th mat-header-cell *matHeaderCellDef>Descripción</th>
          <td mat-cell *matCellDef="let row">{{ row.proddescrip }}</td>
        </ng-container>

        <ng-container matColumnDef="prodestado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let row">{{ row.prodestado }}</td>
        </ng-container>


        <ng-container matColumnDef="prodprecioventa">
            <th mat-header-cell *matHeaderCellDef>Precio venta</th>
            <td mat-cell *matCellDef="let row">{{ row.prodprecioventa}}</td>
        </ng-container>
  
        <ng-container matColumnDef="livros">
          <th mat-header-cell *matHeaderCellDef>LIVROS</th>
          <td mat-cell *matCellDef="let row">
            <a class="livros" routerLink="{{ row.id }}/livros">
              <i class="material-icons">book</i>
            </a>
          </td>
        </ng-container>
  
        <!-- Symbol Column -->
        <ng-container matColumnDef="acciones">
          <th class="mat-header" mat-header-cell *matHeaderCellDef>ACCIONES</th>
          <td mat-cell *matCellDef="let row">
            <a class="edit" routerLink="update/{{ row.prodid }}">
              <i class="material-icons">edit</i>
            </a>
            <a class="delete" routerLink="delete/{{ row.prodid }}">
              <i class="material-icons">delete</i>
            </a>
            <a class="delete" routerLink="upload/{{ row.prodid }}">
              <i class="material-icons">visibility</i>
            </a>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  
