<mat-card class="producto mat-elevation-z4">
  <mat-card-title class="title">{{ accion }} Producto</mat-card-title>

 <!--  <pre>{{myForm.value | json}}</pre> -->
  <form [formGroup]="myForm">
    <div class="row">
      <div class="col-md-3">
        <mat-form-field class="axample-container">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput formControlName="prodnombre" />
        </mat-form-field>
        <div *ngIf=" myForm.get('prodnombre').hasError('required') && myForm.get('prodnombre').touched" style="margin-top: -20px">
          <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
        </div>
      </div>

      <div class="col-md-3">
        <mat-form-field class="axample-container">
          <mat-label>Precio Venta</mat-label>
          <input type="number" matInput formControlName="prodprecioventa" />
        </mat-form-field>
        <div *ngIf=" myForm.get('prodprecioventa').hasError('required') && myForm.get('prodprecioventa').touched" style="margin-top: -20px">
          <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
        </div>
      </div>

      <div class="col-md-3">
        <mat-form-field class="axample-container">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="proddescrip"></textarea>
        </mat-form-field>
      </div>    

     <div class="col-md-3">
          <mat-form-field >
              <mat-label>Seleccionar Categoria</mat-label>
              <mat-select formControlName="categoria" >   
                  
                    <mat-option *ngFor="let categoria of categorias" [value]="categoria">
                      {{ categoria.nombre }}
                    </mat-option>                 
              </mat-select>
          </mat-form-field>
      </div>


      

      <br />
      <div class="col-lg-12">
        <button
          class="btn btn-success btn-md float-right"
          [disabled]="myForm.invalid"
          type="button"
          style="margin-left: 10px"
          (click)="create()"
        >
          Aceptar
        </button>

        <button
          class="btn btn-secondary btn-md float-right"
          routerLink="/productos"
          type="button"
        >
          Cancelar
        </button>
      </div>
    </div>
  </form>
</mat-card>
