<p>proveedor-update works!</p>
<form>
    <h1>ACTUALIZANDO VENTA</h1>

    <mat-form-field class="form">
        <mat-label>PROVEEDOR EMPRESA</mat-label>
        <input matInput  [(ngModel)]="proveedor.provempresa" type="text" name="provempresa" placeholder="PROVEEDOR EMPRESA">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>NOMBRE DEL PROVEEDOR</mat-label>
        <input matInput  [(ngModel)]="proveedor.provnombre" type="text" name="provnombre" placeholder="NOMBRE DEL PROVEEDOR">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>APELLIDO PATERNO</mat-label>
        <input matInput  [(ngModel)]="proveedor.provmaterno" type="text" name="provmaterno" placeholder="APELLIDO PATERNO">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>APELLIDO MATERNO</mat-label>
        <input matInput  [(ngModel)]="proveedor.provpaterno" type="text" name="provpaterno" placeholder="APELLIDO MATERNO">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>NIT/CI</mat-label>
        <input matInput  [(ngModel)]="proveedor.provcinit" type="text" name="provcinit" placeholder="NIT/CI">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>DEPARTAMENTO</mat-label>
        <input matInput  [(ngModel)]="proveedor.provdepto" type="text" name="provdepto" placeholder="DEPARTAMENTO">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>LUGAR</mat-label>
        <input matInput  [(ngModel)]="proveedor.provlugar" type="text" name="provlugar" placeholder="LUGAR">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>DIRECCIÓN</mat-label>
        <input matInput  [(ngModel)]="proveedor.provdirec" type="text" name="provdirec" placeholder="DIRECCIÓN">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>CORREO</mat-label>
        <input matInput [(ngModel)]="proveedor.provemail" type="text" name="provemail" placeholder="CORREO">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>TELEFONO</mat-label>
        <input matInput [(ngModel)]="proveedor.provtelef" type="text" name="provtelef" placeholder="TELEFONO">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>FAX</mat-label>
        <input matInput [(ngModel)]="proveedor.provfax" type="text" name="provfax" placeholder="FAX">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>ESTADO</mat-label>
        <input matInput [(ngModel)]="proveedor.provestado" type="text" name="provestado" placeholder="ESTADO">
    </mat-form-field>


    <mat-form-field class="form">
        <mat-label>TIPO</mat-label>
        <input matInput [(ngModel)]="proveedor.provtipo" type="text" name="provtipo" placeholder="TIPO">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>URL</mat-label>
        <input matInput [(ngModel)]="proveedor.provurl" type="text" name="provurl" placeholder="URL">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Logs</mat-label>
        <input matInput  [(ngModel)]="proveedor.ctrllog" type="text" name="ctrllog" placeholder="Logs">
    </mat-form-field>


    <div class="buttons">
        <button (click)="update()" class="mat-elevation-z8" mat-stroked-button color="primary"> ATUALIZAR </button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR </button>
    </div>

</form>