<form>
    <h1>ELIMINAR VENTA</h1>
    <mat-form-field class="form">
        <mat-label>Descripción</mat-label>
        <input matInput [(ngModel)]="venta.vendescrip" type="text" name="vendescrip" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Estado</mat-label>
        <input matInput  matInput [(ngModel)]="venta.venestado" type="text" name="venestado" disabled >
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Fecha</mat-label>
        <input matInput  matInput [(ngModel)]="venta.venfecha" name="venfecha" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Numero comprobante</mat-label>
        <input matInput matInput [(ngModel)]="venta.vennrocomprobante"   type="number" name="nunnrocomprobante" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Tipo</mat-label>
        <input matInput matInput [(ngModel)]="venta.ventipo"  type="text" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Tipo Comprobante</mat-label>
        <input matInput matInput [(ngModel)]="venta.ventipocomprobante"  type="text" name="ventipocomprobante" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Total</mat-label>
        <input matInput matInput [(ngModel)]="venta.ventotal" type="text" name="ventotal" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Logs</mat-label>
        <input matInput  matInput [(ngModel)]="venta.ctrllog" type="text" name="ctrllog" disabled >
    </mat-form-field>

    <div class="buttons">
        <button (click)="delete()" class="mat-elevation-z8" mat-stroked-button color="primary"> ELIMINAR </button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR </button>
    </div>

</form>
