
<mat-card>

    <form>
        <h1>{{titulo}}</h1>
    
        <mat-form-field class="form">
            <mat-label>Username</mat-label>
            <input matInput  type="text" name="username" placeholder="Username" autofocus>
        </mat-form-field>
 
        <mat-form-field class="form">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="username" placeholder="Password" required>
        </mat-form-field>     
    
        <div class="buttons">
            <button type="submit" class="mat-elevation-z8" mat-stroked-button color="primary"> Iniciar Sessión </button>            
        </div>
    
    </form>
    
</mat-card>