
<mat-card>

    <form>
        <h1>{{titulo}}</h1>
    
        <mat-form-field class="form">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="usuario.username" type="text" name="username" placeholder="Usuario" required autofocus>
        </mat-form-field>
 
        <mat-form-field class="form">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="usuario.password" type="password" name="password" placeholder="Password" required>
        </mat-form-field>     
    
        <div class="buttons">
            <button (click)='login()' type="submit" class="mat-elevation-z8" mat-stroked-button color="primary"> Iniciar Sessión </button>            
        </div>
    
    </form>
    
</mat-card>