<form>
    <h1>CREAR NUEVA CATEGORIA</h1>

    <mat-form-field class="form">
        <mat-label>Código</mat-label>
        <input matInput [(ngModel)]="categoria.catcod" type="text" name="catcod" placeholder="Código" required>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Descripción</mat-label>
        <textarea matInput [(ngModel)]="categoria.catdescrip" type="text" name="catdescrip" placeholder="Descripción"></textarea>
    </mat-form-field>


    <mat-form-field class="form">
        <mat-label>Categoria</mat-label>
        <mat-select name="categ" matInput [(ngModel)]="categoria.categ">           
            <mat-option *ngFor="let cate of categorys" [value]="cate.condescrip">{{cate.condescrip}}</mat-option>
        </mat-select>
    </mat-form-field>

    
    <mat-form-field class="form">
        <mat-label>Línea</mat-label>
        <mat-select name="catlinea" matInput [(ngModel)]="categoria.catlinea">           
            <mat-option *ngFor="let linea of lineas" [value]="linea.condescrip">{{linea.condescrip}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Precio Unitario</mat-label>
        <input matInput [(ngModel)]="categoria.catpreciounit" type="text" name="catpreciounit" placeholder="Precio Unitario">
    </mat-form-field>

   

    <mat-form-field class="form">
        <mat-label>Sub-Línea</mat-label>
        <mat-select name="catsublinea" matInput [(ngModel)]="categoria.catsublinea">           
            <mat-option  *ngFor="let sublinea of sublineas" [value]="sublinea.condescrip">{{sublinea.condescrip}}</mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field class="form">
        <mat-label>Unidad</mat-label>
        <mat-select name="catunidad" matInput [(ngModel)]="categoria.catunidad">           
            <mat-option *ngFor="let unidad of unidades" [value]="unidad.condescrip">{{unidad.condescrip}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="buttons">
        <button (click)="create()" class="mat-elevation-z8" mat-stroked-button color="primary"> Guardar </button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn"> Cancelar </button>
    </div>

</form>
