<form>
    <h1>ELIMINAR PROVEEDOR</h1>
    <mat-form-field class="form">
        <mat-label>PROVEEDOR EMPRESA</mat-label>
        <input matInput  [(ngModel)]="proveedor.provempresa" type="text" name="provempresa" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>NOMBRE DEL PROVEEDOR</mat-label>
        <input matInput  [(ngModel)]="proveedor.provnombre" type="text" name="provnombre" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>APELLIDO PATERNO</mat-label>
        <input matInput  [(ngModel)]="proveedor.provmaterno" type="text" name="provmaterno" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>APELLIDO MATERNO</mat-label>
        <input matInput  [(ngModel)]="proveedor.provpaterno" type="text" name="provpaterno" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>NIT/CI</mat-label>
        <input matInput  [(ngModel)]="proveedor.provcinit" type="text" name="provcinit" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>DEPARTAMENTO</mat-label>
        <input matInput  [(ngModel)]="proveedor.provdepto" type="text" name="provdepto" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>LUGAR</mat-label>
        <input matInput  [(ngModel)]="proveedor.provlugar" type="text" name="provlugar" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>DIRECCIÓN</mat-label>
        <input matInput  [(ngModel)]="proveedor.provdirec" type="text" name="provdirec" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>CORREO</mat-label>
        <input matInput [(ngModel)]="proveedor.provemail" type="text" name="provemail" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>TELEFONO</mat-label>
        <input matInput [(ngModel)]="proveedor.provtelef" type="text" name="provtelef" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>FAX</mat-label>
        <input matInput [(ngModel)]="proveedor.provfax" type="text" name="provfax" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>ESTADO</mat-label>
        <input matInput [(ngModel)]="proveedor.provestado" type="text" name="provestado" disabled>
    </mat-form-field>


    <mat-form-field class="form">
        <mat-label>TIPO</mat-label>
        <input matInput [(ngModel)]="proveedor.provtipo" type="text" name="provtipo" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>URL</mat-label>
        <input matInput [(ngModel)]="proveedor.provurl" type="text" name="provurl" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Logs</mat-label>
        <input matInput  [(ngModel)]="proveedor.ctrllog" type="text" name="ctrllog" disabled>
    </mat-form-field>

    <div class="buttons">
        <button (click)="delete()" class="mat-elevation-z8" mat-stroked-button color="primary"> ELIMINAR </button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR </button>
    </div>

</form>
