<form>
  <h1>ACTUALIZANDO CONCEPTO</h1>

  <mat-form-field class="form">
    <mat-label>Código de concepto</mat-label>
    <input
      matInput
      [(ngModel)]="concepto.conid"
      type="text"
      name="conid"
      placeholder="Código de concepto"
    />
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Código de grupo</mat-label>
    <input
      matInput
      [(ngModel)]="concepto.gruid"
      type="text"
      name="gruid"
      placeholder="Código de grupo"
    />
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Descripción</mat-label>
    <textarea
      matInput
      [(ngModel)]="concepto.condescrip"
      type="text"
      name="condescrip"
      placeholder="Descripción"
    ></textarea>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Abreviatura</mat-label>
    <input
      matInput
      [(ngModel)]="concepto.conabrev"
      type="text"
      name="conabrev"
      placeholder="Abreviatura"
    />
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Valor</mat-label>
    <input
      matInput
      [(ngModel)]="concepto.conval"
      type="text"
      name="conval"
      placeholder="Valor"
    />
  </mat-form-field>

  <div class="buttons">
    <button
      (click)="update()"
      class="mat-elevation-z8"
      mat-stroked-button
      color="primary"
    >
      ACTUALIZAR
    </button>

    <button
      (click)="cancel()"
      class="mat-elevation-z8"
      mat-stroked-button
      color="warn"
    >
      CANCELAR
    </button>
    
  </div>
</form>
