<form>
    <h1>ACTUALIZANDO VENTA</h1>

    <mat-form-field class="form">
        <mat-label>Descripción</mat-label>
        <textarea matInput [(ngModel)]="venta.vendescrip" type="text" name="vendescrip" placeholder="Descripción"></textarea>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Estado</mat-label>
        <input matInput [(ngModel)]="venta.venestado" type="text" name="venestado" placeholder="Estado">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Fecha</mat-label>
        <input matInput [(ngModel)]="venta.venfecha" type="text" name="venfecha" placeholder="Fecha">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Número Comprobante</mat-label>
        <input matInput [(ngModel)]="venta.vennrocomprobante" type="text" name="vennrocomprobante" placeholder="Número Comprobante">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Tipo</mat-label>
        <input matInput [(ngModel)]="venta.ventipo" type="text" name="ventipo" placeholder="Tipo">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Tipo Comprobante</mat-label>
        <input matInput [(ngModel)]="venta.ventipocomprobante" type="text" name="ventipocomprobante" placeholder="Tipo Comprobante">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Venta Total</mat-label>
        <input matInput [(ngModel)]="venta.ventotal" type="text" name="ventotal" placeholder="Total">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Logs</mat-label>
        <input matInput [(ngModel)]="venta.ctrllog" type="text" name="ctrllog" placeholder="Logs">
    </mat-form-field>

    <div class="buttons">
        <button (click)="update()" class="mat-elevation-z8" mat-stroked-button color="primary"> ATUALIZAR </button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR </button>
    </div>

</form>